@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --primary: #fff;
  --primary-foreground: oklch(26.9% 0 0);
  --secondary: oklch(26.9% 0 0);
  --secondary-foreground: oklch(43.9% 0 0);
  --accent: oklch(84.5% 0.143 164.978);
  --accent-hover: oklch(59.6% 0.145 163.225);
  --accent-foreground: oklch(98.5% 0 0);
  --accent-hover-foreground: oklch(84.5% 0.143 164.978);
  --tag: oklch(97.9% 0.021 166.113);
  --tag-foreground: oklch(50.8% 0.118 165.612);
  --tag-success-foreground: oklch(59.6% 0.145 163.225);
  --tag-tertiary-foreground: oklch(70.8% 0 0);
  --border-strong : oklch(43.9% 0 0);
  --border-subtle : oklch(87% 0 0);
  --primary-icon : oklch(26.9% 0 0);
  --secondary-icon: oklch(59.6% 0.145 163.225);
  --accent-icon: oklch(98.5% 0 0);
  --accent-hover-icon: oklch(84.5% 0.143 164.978);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: var(--primary);
  --foreground: var(--primary-foreground);
  --card: var(--secondary);
  --card-foreground: var(--primary-foreground);
  --popover: var(--secondary);
  --popover-foreground: var(--primary-foreground);
  --primary: var(--background-accent);
  --primary-foreground: var(--primary-foreground);
  --secondary: var(--secondary);
  --secondary-foreground: var(--secondary-foreground);
  --muted: var(--secondary);
  --muted-foreground: var(--foreground-tertiary);
  --accent: var(--background-accent);
  --accent-foreground: var(--foreground-on-accent);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--border-strong);
  --input: var(--border-subtle);
  --ring: var(--ring);
  --chart-1: var(--chart-1);
  --chart-2: var(--chart-2);
  --chart-3: var(--chart-3);
  --chart-4: var(--chart-4);
  --chart-5: var(--chart-5);
  --sidebar: var(--sidebar);
  --sidebar-foreground: var(--sidebar-foreground);
  --sidebar-primary: var(--sidebar-primary);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-accent: var(--sidebar-accent);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-border: var(--sidebar-border);
  --sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: var(--background-primary);
  --foreground: var(--primary-foreground);
  --card: var(--background-secondary);
  --card-foreground: var(--primary-foreground);
  --popover: var(--background-secondary);
  --popover-foreground: var(--primary-foreground);
  --primary: var(--background-accent);
  --primary-foreground: var(--foreground-on-accent);
  --secondary: var(--background-secondary);
  --secondary-foreground: var(--secondary-foreground);
  --muted: var(--background-secondary);
  --muted-foreground: var(--foreground-tertiary);
  --accent: var(--background-accent);
  --accent-foreground: var(--foreground-on-accent);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--border-strong);
  --input: var(--border-subtle);
  --ring: var(--ring);
  --chart-1: var(--chart-1);
  --chart-2: var(--chart-2);
  --chart-3: var(--chart-3);
  --chart-4: var(--chart-4);
  --chart-5: var(--chart-5);
  --sidebar: var(--sidebar);
  --sidebar-foreground: var(--sidebar-foreground);
  --sidebar-primary: var(--sidebar-primary);
  --sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --sidebar-accent: var(--sidebar-accent);
  --sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --sidebar-border: var(--sidebar-border);
  --sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
