@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-marketing: var(--foreground-marketing);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-marketing: var(--primary-marketing);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-marketing: var(--accent-marketing);
  --color-accent-hover-marketing: var(--accent-hover-marketing);
  --color-link-foreground: var(--link-foreground);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-foreground-marketing: var(--accent-foreground-marketing);
  --color-accent-foreground-hover-marketing: var(--accent-foreground-hover-marketing);
  --color-destructive: var(--destructive);
  --color-tertiary: var(--tertiary);
  --color-tag: var(--tag);
  --color-tag-foreground: var(--tag-foreground);
  --color-success-foreground: var(--success-foreground);
  --color-tertiary-foreground: var(--tertiary-foreground);
  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground-marketing: var(--tertiary-foreground-marketing);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-strong: var(--border-strong);
  --color-subtle: var(--border-subtle);
  --color-icon-primary: var(--icon-primary);
  --color-icon-primary-marketing: var(--icon-primary-marketing);
  --color-icon-secondary: var(--icon-secondary);
  --color-icon-secondary-marketing: var(--icon-secondary-marketing);
  --color-icon-accent: var(--icon-accent);
  --color-icon-accent-marketing: var(--icon-accent-marketing);
  --color-icon-accent-dark: var(--icon-accent-dark);
  --color-icon-accent-dark-marketing: var(--icon-accent-dark-marketing);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --animate-aurora: aurora 8s ease-in-out infinite alternate;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --font-general: 'General Sans', sans-serif;
}
:root {
  --radius: 0.625rem;
  --background: #fff;
  --foreground: #fff;
  --foreground-marketing: oklch(26.9% 0 0);
  --primary: oklch(97% 0 0);
  --primary-marketing: oklch(98.5% 0 0);
  --primary-foreground: oklch(26.9% 0 0);
  --secondary: oklch(26.9% 0 0);
  --secondary-foreground: oklch(43.9% 0 0);
  --accent: linear-gradient(109deg, #ffa132 4.99%, #ff4d00 92.05%);
  --accent-marketing: oklch(84.5% 0.143 164.978);
  --accent-hover-marketing: oklch(59.6% 0.145 163.225);
  --link-foreground: linear-gradient(109deg, #ffa132 4.99%, #ff4d00 92.05%);
  --accent-foreground: oklch(70.8% 0 0);
  --accent-foreground-marketing: oklch(98.5% 0 0);
  --accent-foreground-hover-marketing: oklch(84.5% 0.143 164.978);
  --destructive: oklch(0.61 0.25 25);
  --tag: oklch(97.9% 0.021 166.113);
  --tag-foreground: oklch(50.8% 0.118 165.612);
  --success-foreground: oklch(59.6% 0.145 163.225);
  --tertiary: oklch(70.8% 0 0);
  --tertiary-foreground: oklch(55.6% 0 0);
  --tertiary-foreground-marketing: oklch(70.8% 0 0);
  --border-strong: oklch(43.9% 0 0);
  --border-subtle: oklch(87% 0 0);
  --icon-primary: oklch(55.6% 0 0);
  --icon-primary-marketing: oklch(26.9% 0 0);
  --icon-secondary: oklch(70.8% 0 0);
  --icon-secondary-marketing: oklch(59.6% 0.145 163.225);
  --icon-accent: #fff;
  --icon-accent-marketing: oklch(98.5% 0 0);
  --icon-accent-dark: oklch(26.9% 0 0);
  --icon-accent-dark-marketing: oklch(84.5% 0.143 164.978);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(97% 0 0);
  --sidebar-foreground: oklch(26.9% 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --radius: 0.625rem;
  --background: #fff;
  --foreground: #fff;
  --foreground-marketing: oklch(26.9% 0 0);
  --primary: oklch(97% 0 0);
  --primary-marketing: oklch(98.5% 0 0);
  --primary-foreground: oklch(26.9% 0 0);
  --secondary: oklch(26.9% 0 0);
  --secondary-foreground: oklch(43.9% 0 0);
  --accent: linear-gradient(109deg, #ffa132 4.99%, #ff4d00 92.05%);
  --accent-marketing: oklch(84.5% 0.143 164.978);
  --accent-hover-marketing: oklch(59.6% 0.145 163.225);
  --link-foreground: linear-gradient(109deg, #ffa132 4.99%, #ff4d00 92.05%);
  --accent-foreground: oklch(70.8% 0 0);
  --accent-foreground-marketing: oklch(98.5% 0 0);
  --accent-foreground-hover-marketing: oklch(84.5% 0.143 164.978);
  --destructive: oklch(0.61 0.25 25);
  --tag: oklch(97.9% 0.021 166.113);
  --tag-foreground: oklch(50.8% 0.118 165.612);
  --success-foreground: oklch(59.6% 0.145 163.225);
  --tertiary-foreground: oklch(55.6% 0 0);
  --tertiary: oklch(70.8% 0 0);
  --tertiary-foreground-marketing: oklch(70.8% 0 0);
  --border-strong: oklch(43.9% 0 0);
  --border-subtle: oklch(87% 0 0);
  --icon-primary: oklch(55.6% 0 0);
  --icon-primary-marketing: oklch(26.9% 0 0);
  --icon-secondary: oklch(70.8% 0 0);
  --icon-secondary-marketing: oklch(59.6% 0.145 163.225);
  --icon-accent: #fff;
  --icon-accent-marketing: oklch(98.5% 0 0);
  --icon-accent-dark: oklch(26.9% 0 0);
  --icon-accent-dark-marketing: oklch(84.5% 0.143 164.978);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(97% 0 0);
  --sidebar-foreground: oklch(26.9% 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background font-general text-foreground;
  }
}